<f:be.container 
	includeCssFiles="{
			0: '{f:uri.resource(path:\'Css/{snowbabel_style}\')}',
			1: '{f:uri.resource(path:\'Css/angular-material.min.css\')}',
			2: 'https://fonts.googleapis.com/icon?family=Material+Icons',
			3: '{f:uri.resource(path:\'Css/docs.min.css\')}',
			4: 'https://cdn.jsdelivr.net/npm/angular-table-resize@2.0.1/css/angular-table-resize.css'}"
	includeJsFiles="{
			0: '{f:uri.resource(path:\'JavaScript/jquery.min.js\')}',
			1: '{f:uri.resource(path:\'JavaScript/Angular/angular.min.js\')}',
			2: '{f:uri.resource(path:\'JavaScript/Angular/angular-animate.min.js\')}',
			3: '{f:uri.resource(path:\'JavaScript/Angular/angular-aria.min.js\')}',
			4: '{f:uri.resource(path:\'JavaScript/Angular/angular-messages.min.js\')}',
			5: '{f:uri.resource(path:\'JavaScript/Angular/angular-material.min.js\')}',
			6: 'https://cdn.jsdelivr.net/npm/angular-table-resize@2.0.1/dist/angular-table-resize.min.js'}">

	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css" media="all">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/angular-table-resize@2.0.1/css/angular-table-resize.css" media="all">

	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/angular-table-resize@2.0.1/dist/angular-table-resize.min.js"></script>
	<script type="text/javascript" src="/typo3conf/ext/snowbabel/Resources/Public/JavaScript/Angular/translation.js"></script>

	<f:render section="content" />
</f:be.container>